In [45]:
import numpy as np
import pandas as pd 
df = pd.read_csv("Police_Department_Incident_Reports__Historical_2003_to_May_2018.csv")
#df = df[df["Category"] == "PROSTITUTION"]
df["Date"] = df["Date"].apply(lambda x: x.split("/")[2])

In [94]:
grouped = df.groupby(["Category","Date","PdDistrict"]).size().reset_index(name = "count")
focuscrimes = ['WEAPON LAWS', 'PROSTITUTION', 'DRIVING UNDER THE INFLUENCE', 'ROBBERY', 'BURGLARY', 'ASSAULT', 'DRUNKENNESS', 'DRUG/NARCOTIC', 'TRESPASS', 'LARCENY/THEFT', 'VANDALISM', 'VEHICLE THEFT', 'STOLEN PROPERTY', 'DISORDERLY CONDUCT']
years = [year for year in df["Date"].unique()]
grouped = grouped[grouped["Category"]==("DRUG/NARCOTIC")]

In [130]:
#Identify if there are any duplicates! 
boolean = not df["IncidntNum"].is_unique      # True (credit to @Carsten)
boolean = df['IncidntNum'].duplicated().any() 
boolean

True

In [159]:
# We don't need duplicates for the same crime category
ids = df["IncidntNum"]
duplicated = df[ids.isin(ids[ids.duplicated()])].sort_values("IncidntNum")
grouped = duplicated[["Category","IncidntNum","Date","location"]]

# Drop duplicates based on both Category and IncidntNum columns
duplicated = grouped.drop_duplicates(subset=["Category", "IncidntNum"], keep=False)

In [156]:
#duplicated_pairs = duplicated.groupby(["Category", "IncidntNum"]).size().reset_index(name='occurrence')

In [160]:
duplicated

,Category,IncidntNum,Date,location
233381,DRUG/NARCOTIC,123436,2004,POINT (-122.40340479147902 37.775420706711)
1985103,"SEX OFFENSES, FORCIBLE",123436,2004,POINT (-122.40340479147902 37.775420706711)
785008,DRUNKENNESS,324684,2003,POINT (-122.433084166809 37.7851499161314)
527851,WARRANTS,324684,2003,POINT (-122.433084166809 37.7851499161314)
27107,OTHER OFFENSES,767244,2003,POINT (-122.418382008607 37.7832583770949)
...,...,...,...,...
2122697,OTHER OFFENSES,991008997,2016,POINT (-122.4163494281827 37.78255695630781)
73690,WARRANTS,991078796,2003,POINT (-122.41323751667602 37.7828430233213)
69031,OTHER OFFENSES,991078796,2003,POINT (-122.41323751667602 37.7828430233213)
771894,WARRANTS,991510691,2003,POINT (-122.42043329309402 37.7817700809468)
1942428,OTHER OFFENSES,991510691,2003,POINT (-122.42043329309402 37.7817700809468)